@import '../../../style/variables.scss';

.copy {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;

  &_text {
    color: $whiteColor;

    text-align: center;
  }
}

.created_link {
  color: $whiteColor;

  font-size: 14px;
  text-align: center;

  opacity: 0.3;
}
