@import '../../style/variables.scss';

.section {
  padding: 45px 30px;
}

.quote {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  max-width: 850px;

  color: $quoteColor;
  font-size: 18px;
  text-align: center;

  &::after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;

    height: 232px;
    width: 100%;

    background-image: url(../../img/quote.png);
    background-repeat: no-repeat;
    background-position: top right;

    z-index: -1;
  }
}

@media screen and (min-width: $tabletBigWidth) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

// .section {
//   padding-top: 100px;
//   padding-bottom: 100px;
// }

// .quote {
//   position: relative;
//   margin-left: auto;
//   margin-right: auto;

//   max-width: 850px;

//   color: $quoteColor;
//   font-size: 18px;
//   text-align: center;

//   &::after {
//     position: absolute;
//     content: '';
//     right: 0;
//     top: 0;

//     height: 232px;
//     width: 100%;

//     background-image: url(../../img/quote.png);
//     background-repeat: no-repeat;
//     background-position: top right;

//     z-index: -1;
//   }
// }
