@import '../../style/variables.scss';

.hero {
  position: relative;
  background-color: $heroBgc;

  margin-top: 100px;

  overflow: hidden;

  &_title {
    margin-bottom: 30px;

    color: $whiteColor;
  }

  &_text {
    margin-bottom: 30px;

    color: $whiteColor;

    font-weight: 600;
  }

  &_nav {
    margin-bottom: 30px;
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 200px;

    color: $whiteColor;
    border-radius: 100px;

    cursor: pointer;

    transition: 0.5s;

    &:first-child {
      border: 2px solid $buttonGreenColor;
      background: $buttonGreenColor;

      &:hover,
      &:focus {
        color: $whiteColor;
        background-color: $buttonFocusGreenColor;
        border-color: $buttonFocusGreenColor;
      }
    }

    &:last-child {
      border: 2px solid $whiteColor;
      background-color: transparent;

      &:hover,
      &:focus {
        color: $whiteColor;
        border-color: $blackColor;
        background-color: $blackColor;
      }
    }
  }
}

.section {
  z-index: 1;
}

.link_social {
  display: flex;
}

.link_item {
  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover,
  &:focus {
    .social_text {
      color: $whiteColor;
    }

    .icon_button {
      background: $whiteColor;
    }
  }
}

.icon_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  height: 50px;
  width: 50px;

  border-radius: 100%;
  background: $linkSocialColor;
  transition: 0.5s;
}

.icon_facebook {
  width: 25px;
  height: 25px;
  fill: $blackColor;
}

.icon_telegram {
  width: 30px;
  height: 30px;
  fill: $blackColor;
}

.social_text {
  color: $whiteColor;
  transition: 0.5s;

  font-size: 14px;
  text-align: center;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}

// @media screen and (min-width: $modilWidth) {
//   .hero {
//     &_button {
//       height: 20px;

//       &:first-child {
//         margin-bottom: 20px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 509px) {
// .hero_nav {
//   display: grid;
//   align-items: flex-start;
//   justify-content: space-between;
// }

// .hero_button {
//   &:first-child {
//     padding: 15px 61px;
//   }
// }
// }

@media screen and (max-width: ($modilBigWidth - 1px)) {
  .hero {
    padding: 45px 20px 120px;

    &_button {
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: $modilBigWidth) {
  .hero_nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
  }
}

@media screen and (min-width: $modilBigWidth) and (max-width: 509px) {
  .hero_nav {
    gap: 10px;
  }
}

@media screen and (min-width: 510px) {
  .hero_nav {
    gap: 40px;
  }
}

@media screen and (min-width: $modilBigWidth) and (max-width: ($tabletBigWidth - 1px)) {
  .hero {
    padding: 80px 20px 200px;
  }
}

@media screen and (max-width: ($tabletWidth - 1px)) {
  .hero_button {
    padding: 15px 40px;
  }
}

@media screen and (min-width: $tabletWidth) {
  .hero_button {
    padding: 15px 65px;
  }
}

@media screen and (max-width: ($tabletBigWidth - 1px)) {
  .hero {
    &_title {
      font-weight: 500;
      font-size: 38px;
    }

    &_text {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: $tabletBigWidth) {
  .hero {
    &_title {
      font-weight: 700;
      font-size: 48px;
    }

    &_text {
      font-size: 24px;
    }
  }
}

@media screen and (min-width: $tabletBigWidth) and (max-width: ($desktopWidth - 1px)) {
  .hero {
    padding: 120px 20px 80px;
  }

  .video_item {
    width: 100%;
  }
}

@media screen and (min-width: $desktopWidth) {
  .hero {
    padding: 200px 20px 200px;
  }
}

@media screen and (min-width: $desktopWidth) and (max-width: 1284px) {
  .video_item {
    height: 100%;
  }
}

@media screen and (min-width: 1285px) {
  .video_item {
    width: 100%;
  }
}
