@import '../../style/variables.scss';

.bg_color {
  background-color: $bgColor;
}

.section {
  padding: 45px 30px;
}

.about_tetle {
  position: relative;
  margin-bottom: 55px;

  font-size: 30px;
  font-weight: 600;

  &::before {
    position: absolute;
    content: '';
    width: 85px;
    height: 3px;
    left: 1px;
    bottom: -15px;
    background: $buttonGreenColor;
  }
}

.elem_title {
  margin-bottom: 20px;

  font-size: 28px;
  font-weight: 600;
}

.elem_text {
  font-size: 18px;
  text-align: justify;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
  &:last-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: ($tabletWidth - 1px)) {
  .services_tetle {
    font-size: 30px;
  }
}

@media screen and (min-width: $tabletWidth) {
  .services_tetle {
    font-size: 40px;
  }
}

@media screen and (max-width: ($tabletBigWidth - 1px)) {
  .cart_photo {
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: $tabletBigWidth) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .cart_item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(even) {
      flex-direction: row-reverse;

      .cart_photo {
        border-radius: 10px 0 0 10px;
      }
    }

    &:nth-child(odd) {
      .cart_photo {
        border-radius: 0 10px 10px 0;
      }
    }
  }

  .cart_photo {
    max-width: 400px;
  }

  .cart_elem {
    padding: 70px 60px;
  }
}
