@import '../../style/variables.scss';

.header {
  position: sticky;
  top: 0;
  width: 100%;

  background-color: $headerColor;

  z-index: 20;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: $desktopWidth - 1;
}

.nav {
  &_list {
    display: flex;
  }

  &_title {
    display: block;
    padding: 50px 15px;

    font-size: 20px;
    color: $whiteColor;

    cursor: pointer;

    span {
      position: relative;
    }

    span::after {
      position: absolute;
      content: ' ';
      display: block;
      width: 0;
      height: 2px;

      bottom: -2px;

      background-color: $whiteColor;

      transition: 0.5s;
    }

    &:hover,
    &:focus {
      span::after {
        width: 100%;
      }

      .icon_arrow {
        transform: rotate(-180deg);
      }
    }
  }

  &_link {
    font-size: 16px;
    color: $whiteColor;
  }

  &_elem {
    position: relative;
  }
}

.elem_list {
  position: absolute;
  content: '';
  top: 100px;
  left: -22px;

  // display: none;
  // opacity: 0;
  // transition: 1s;
  background-color: $whiteColor;
  padding: 20px;
  border-radius: 10px;

  z-index: 20;
}

.elem_link {
  display: flex;

  color: $textColor;

  font-size: 16px;
  white-space: nowrap;

  span {
    position: relative;
  }

  span::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 0;
    height: 2px;

    bottom: -2px;

    background-color: $blackColor;

    transition: 0.5s;
  }

  span::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 0;
    height: 2px;

    bottom: -2px;

    background-color: $blackColor;

    transition: 0.5s;
  }

  &:hover,
  &:focus {
    span::after {
      width: 100%;
    }
  }
}

.icon_arrow {
  width: 15px;
  height: 15px;
  margin-left: 15px;

  transition: 0.5s;

  path {
    fill: $whiteColor;
  }
}

.icon_tel {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  line-height: 1;
  position: relative;
  top: 3px;

  path {
    fill: $blackColor;
  }
}

.icon_mail {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  line-height: 1;
  position: relative;
  top: 3px;

  g {
    stroke: $blackColor;
  }
}

.contact {
  position: relative;

  &_list {
    position: absolute;
    content: '';
    top: 100px;
    left: -43px;

    background-color: $whiteColor;
    padding: 20px;
    border-radius: 10px;

    z-index: 20;
  }

  .elem_link:not(:last-child) {
    margin-bottom: 10px;
  }
}

.arrow_scroll {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 2%;
  bottom: 40px;
  width: 40px;
  height: 40px;

  background-color: $buttonGreenColor;
  border-radius: 50%;

  cursor: pointer;

  z-index: 100;
}

.icon_arrow_scroll {
  width: 25px;
  height: 25px;

  path {
    fill: $whiteColor;
  }
}
