@import '../../style/variables.scss';

.header {
  width: 100%;

  background-color: $headerColor;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: $desktopWidth - 1;
}

.nav {
  &_list {
    display: flex;
  }

  &_title {
    display: block;
    padding: 50px 15px;

    font-size: 20px;
    color: $whiteColor;

    cursor: pointer;
  }

  &_link {
    font-size: 16px;
    color: $whiteColor;
  }

  &_elem {
    position: relative;
  }
}

.elem_last {
  position: absolute;
  content: '';
  top: 100px;
  left: -22px;

  width: 220px;
  // display: none;
  // opacity: 0;
  // transition: 1s;
  background-color: $whiteColor;
  padding: 20px;
  border-radius: 10px;

  z-index: 20;
}

.elem_link {
  display: block;
  font-size: 16px;
  color: $textColor;
}

.contact {
  position: relative;

  &_list {
    position: absolute;
    content: '';
    top: 100px;
    left: -43px;

    width: 185px;
    background-color: $whiteColor;
    padding: 20px;
    border-radius: 10px;

    z-index: 20;
  }
}
