//Color
$headerColor: #393939;
$whiteColor: #fff;
$blackColor: #000;
$textColor: #212121;
$liskGreenColor: #007120;
$heroBgc: rgba(0, 0, 0, 0.5);
$buttonGreenColor: #007120;
$buttonFocusGreenColor: #014213;
$buttonTransColor: transparent;
$linkSocialColor: #deffe8;

//Section Width
$desktopWidth: 1200px;
