//Color
$headerColor: #393939;
$whiteColor: #fff;
$blackColor: #000;
$heroBgc: rgba(0, 0, 0, 0.5);
$buttonGreenColor: #579f4b;
$buttonTransColor: transparent;
$linkSocialColor: #deffe8;

//Section Width
$desktopWidth: 1200px;
