@import '../../style/variables.scss';

.footer {
  background-color: $bgFooterColor;
}

.section {
  border-bottom: 1px solid $borderFooterColor;
}

.contact {
  &_title {
    // width: 100%;

    color: $whiteColor;

    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;

    transition: all 0.2s ease;

    cursor: pointer;
  }

  &_item {
    margin-bottom: 20px;
  }

  &_text {
    margin-left: 20px;

    color: $textFooterColor;

    line-height: 1.8;
  }

  &_link {
    display: flex;
    margin-bottom: 5px;

    color: $whiteColor;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    span {
      position: relative;
    }

    span::after {
      position: absolute;
      content: ' ';
      display: block;
      width: 0;
      height: 2px;

      bottom: -2px;

      background-color: $whiteColor;

      transition: 0.5s;
    }

    &:hover,
    &:focus {
      span::after {
        width: 100%;
      }
    }
  }
}

.nav {
  &_title {
    // width: 100%;

    color: $whiteColor;

    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;

    transition: all 0.2s ease;

    cursor: pointer;
  }

  

  &_item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &_text {
    color: $whiteColor;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    span {
      position: relative;
    }

    span::after {
      position: absolute;
      content: ' ';
      display: block;
      width: 0;
      height: 2px;

      bottom: -2px;

      background-color: $whiteColor;

      transition: 0.5s;
    }

    &:hover,
    &:focus {
      span::after {
        width: 100%;
      }
    }
  }
}

.logo {
  margin-bottom: 20px;

  &_text {
    width: 300px;
    margin-bottom: 20px;

    color: $whiteColor;
  }
}

.social {
  color: $whiteColor;

  &_tetle {
    // width: 100%;

    color: $whiteColor;

    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;

    transition: all 0.2s ease;

    cursor: pointer;
  }

  &_bloc {
    display: flex;
    justify-content: space-between;
  }

  &_text {
    color: $whiteColor;

    font-size: 13px;

    transition: 0.5s;

    &:hover,
    &:focus {
      .icon_button {
        background: $blackColor;
      }

      path {
        fill: $whiteColor;
      }
    }
  }
}

.icon_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  border-radius: 100%;
  background: $whiteColor;
  transition: 0.5s;
}

.icon_tel {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.icon_mail {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  position: relative;
  top: 3px;

  fill: $whiteColor;
}

.icon_geo {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  position: relative;
  top: 3px;

  fill: $whiteColor;
}

.icon_headphone {
  margin-right: 5px;

  fill: $whiteColor;
}

.icon_facebook {
  width: 25px;
  height: 25px;
  fill: $blackColor;
}

@media screen and (max-width: ($tabletBigWidth - 1px)) {
  .section {
    display: grid;
    padding: 15px;
  }

  .logo {
    &_bloc {
      order: 2;
    }

    &_sheave {
      display: none;
    }
  }

  .social {
    position: relative;

    &_tetle {
      padding: 15px;

      cursor: pointer;

      z-index: 2;
    }

    &_bloc {
      margin: 0 15px;
      overflow: hidden;
    }

    .activeMobile {
      animation: slideinSocial 0.5s ease-out forwards;
    }

    .inActiveMobile {
      animation: slideinSocialClose 0.5s ease-out forwards;
    }

    @keyframes slideinSocial {
      from {
        height: 0px;
      }
      to {
        height: 90px;
      }
    }
    @keyframes slideinSocialClose {
      from {
        height: 90px;
      }

      to {
        height: 0px;
      }
    }
  }

  .nav {
    position: relative;

    border-bottom: 1px solid $borderFooterColor;

    &_title {
      padding: 15px;

      cursor: pointer;
    }

    &_list {
      margin: 0 15px;

      overflow: hidden;
    }

    .activeMobile {
      animation: slideinNav 0.5s ease-out forwards;
    }

    .inActiveMobile {
      animation: slideinNavClose 0.5s ease-out forwards;
    }

    @keyframes slideinNav {
      from {
        height: 0px;
      }
      to {
        height: 160px;
      }
    }
    @keyframes slideinNavClose {
      from {
        height: 160px;
      }

      to {
        height: 0px;
      }
    }
  }

  .contact {
    position: relative;

    border-bottom: 1px solid $borderFooterColor;

    order: -1;

    &_title {
      padding: 15px;

      cursor: pointer;

      z-index: 2;
    }

    &_list {
      overflow: hidden;
    }

    .activeMobile {
      animation: slideinContact 0.5s ease-out forwards;
    }

    .inActiveMobile {
      animation: slideinContactClose 0.5s ease-out forwards;
    }

    @keyframes slideinContact {
      from {
        height: 0px;
      }
      to {
        height: 235px;
      }
    }
    @keyframes slideinContactClose {
      from {
        height: 235px;
      }

      to {
        height: 0px;
      }
    }
  }

  .icon_arrow {
    position: absolute;
    display: block;
    top: 15px;
    right: 10px;
    width: 25px;
    height: 25px;
    margin-left: 8px;

    transition: 0.5s;

    z-index: 1;

    path {
      fill: $whiteColor;
    }
  }

  .icon_button {
    height: 50px;
    width: 50px;
  }

  .icon_arrow_activev {
    transform: rotate(-180deg);
  }
}

@media screen and (min-width: $tabletBigWidth) {
  .section {
    display: flex;
    justify-content: space-between;

    padding-top: 90px;
    padding-bottom: 90px;

    .social {
      &_tetle {
        margin-bottom: 20px;
      }
    }

    &_bloc {
      display: flex;
    }
  }

  .logo {
    &_sheave {
      display: none;
    }

    &_sheave {
      display: block;
    }
  }

  .nav {
    &_butter {
      display: flex;
    }

    &_list {
      margin: 20px 15px;
    }
  }

  .icon_arrow {
    display: none;
  }

  .icon_button {
    height: 60px;
    width: 60px;
  }
}
